*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}
.navbar{
    top: 0;
    background-color: white;
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    color: white;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.navbar > nav{
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    
}
.navbar > nav > ul{
    height: 100%;
    width: 100%;
    margin-right: 250px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: end;
}
.navbar > nav > ul > li{
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type:none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linknav{
    text-decoration: none;
    color: #003366;
    font-family: Arial;
    font-weight: 600;
    padding: 10px;
}
.linknav:hover{
    background-color: #003366;
    opacity: 0.8;
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50px;
    margin-left: 250px;
}
.logo > img{
    width: 100px;
    height: 100%;
}
.brand{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    background-color: transparent;
}
.brand > h1{
    font-family: Arial;
    font-style:italic;
    font-weight: lighter;
    color: #003366;
    width: fit-content;
}

/* Home */
.first-banner{
    background-image: linear-gradient(to bottom, #55A0B9, white);
    background-size: cover;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    object-fit: cover;
}
.img-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.img-banner > img{
    
    animation: spin 25s infinite linear;
    
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.btn-showmore{
    background-color: #003366;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
}

.btn-showmore:hover{
    background-color: white;
    color: #003366;
    font-weight: bold;
}

.text-banner{
    background-color: transparent;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left: 50px;
    
}
.text-banner > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 4em;
    text-transform: capitalize;
    color: #003366;
    
}
.text-banner > p{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    color: black;
}

marquee{
    background-color: #003366;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}
/* Tujuan Savi */
.tujuan-savi{
    background-image: linear-gradient(to bottom, whiten, #EAF8FF);
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-tujuan{
    width: fit-content;
    margin-top: 100px;
    
}
.title-tujuan > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #003366;
}
.isi-tujuan{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-tujuan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 1400px;
    height: fit-content;
    gap: 40px;
}
.isi-gambar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 200px;
    width: 200px;
    padding: 50px;
    border-radius: 10px;
}
.isi-gambar:hover{
    background-color: whitesmoke;
}
.isi-gambar > h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.isi-gambar > p {
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}
.isi-gambar > img{
    max-width: 120px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}


/* why */
.why{
    background-image: linear-gradient(#EAF8FF, #F5F6FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.title-why{
    margin-bottom: 50px;
}
.title-why > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px;
    text-transform: capitalize;
    color: #003366;
}
.isi-why{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    gap: 50px;
    max-width: 1500px;
    height: fit-content;
    width: 1300px;
    background-image: linear-gradient(#EAF8FF, #F5F6FF);
    border-radius: 30px;
    padding: 30px;
}
.slice-why1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
    height: fit-content;
    width: 400px;
    gap: 10px;
}
.image-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-height: 200px;
    max-width: 400px;
}
.image-desc:hover{
    animation: animate 3s linear infinite;
}
.image-desc > img{
    width: 200px;
    height: 200px;
}
.desc > h2{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    width: 150px;
    
}
.desc > p{
    font-family: Arial, Helvetica, sans-serif;
}
.slice-why2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 400px;
    width: 400px;
}
.slice-why3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: fit-content;
    width: 400px;
    gap: 10px;
    padding: 20px;
}

.videobanner{
    background-image: linear-gradient(#EAF8FF, #F5F6FF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: fit-content;
    gap: 50px;
}
.isi-video{
    display: flex;
    width: 1400px;
    margin-left: 50px;
    background-color: transparent;
}
.videobanner > h1{
    position: absolute;
    top: 25%;
    right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}
.btn-selengkapnya{
    background-color: transparent;
    width: fit-content;
    text-decoration: none;
    color: #003366;
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #003366;
}
.btn-selengkapnya:hover{
    padding:20px;
}
video{
    width: 550px;
    height: max-content;
    object-fit: cover;
    border-radius: 30px;
}
.text-video{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
}
.text-video > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #003366;
    font-size: 3em;

}
.text-video > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #003366;
    max-width: 740px;
    text-align: justify;
    margin-top: 20px;
}

    /* CardHome */
.judul-card{
    background-color: #EAF8FF;
    color:#003366;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
}
.cardhome{
    background-image: linear-gradient(#EAF8FF, #F5F6FF);
    
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.card1{
    background-color:#2552AF;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.card2{
    background-color:#F5A791;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.card3{
    background-color:#5A514A;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.image-card > img{
    max-width: 400px;
    max-height: 250px;
}
.img-bio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-bio > p{
    max-width: 250px;
    word-spacing: 10px;
    font-family: Arial;
}

.second-image{
    max-width: 100px;
    max-height: 100px;
}

/* partnership */
.partnership{
    background-image: linear-gradient(#EAF8FF, #F5F6FF);
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-partnership{
    margin-top: 50px;
    margin-bottom: 20px;
}
.title-partnership > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #003366;
}
.isi-partnership{
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}
.isi-partnership:hover{
    background-color: white;
    border-radius: 30px;
    animation: animate 3s linear infinite;
}
.isi-partnership > img{
    width: 100px;
}
.detail-partnership{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-partnership > h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.detail-partnership > h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 1em;
}
/* LAPOR */
.lapor{
    background-image: linear-gradient(#EAF8FF, #F5F6FF);
    margin-top: 80px;
    padding: 50px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    max-width: 1000px;
    width: 800px;
    height: fit-content;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container h2 {
    text-align: center;
}

.form-container label,
.form-container input,
.form-container textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.form-container textarea {
    height: 100px;
}

.form-container button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}
#nama{
    height: 30px;
    padding-left: 10px;
}
#nohp{
    height: 30px;
    padding-left: 10px;
}
#deskripsi{
    height: 300px;
    padding-left: 10px;
}
#lokasi{
    height: 30px;
    padding-left: 10px;
}

/* api lapor */
.daftar-laporan{
    width: 100%;
    height: fit-content;
    padding: 50px;
    background-image: linear-gradient(#EAF8FF, #F5F6FF);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.daftar-laporan > h1{
    margin-bottom: 50px;
}
.card-laporan{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
}
.card-laporan > img{
    border-radius: 20px;
}
