*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}
.navbar{
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    color: white;
    background-color: black;
    opacity: 0.8;
}
.navbar > nav{
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
}
.navbar > nav > ul{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 80px;
    flex-direction:row;
    padding-right: 80px;
}
.navbar > nav > ul > li{
    background-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type:none;
    color: black;
}
.linknav{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: 600;
}
.logo{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50px;
    padding-left: 80px;
}
.logo > img{
    width: 100%;
    height: 100%;
}
.brand{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.brand > h1{
    font-family: Arial;
    font-style:italic;
    font-weight: lighter;
}

/* Home */
.first-banner{
    background-image: url(assets/banner.jpg);
    background-size: cover;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-showmore{
    background-color: #82ABC4;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-showmore:hover{
    background-color: white;
    color: #82ABC4;
    font-weight: bold;
}

.text-banner{
    background-color: transparent;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
}
.text-banner > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 4em;
    text-transform: capitalize;
    color: #82ABC4;
    
}
.text-banner > p{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    color: white;
    margin-top: 25px;
}

.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.title-why{
    margin-bottom: 50px;
}
.title-why > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px;
}
.isi-why{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 50px;
    max-width: 1500px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 30px;
}
.isi-why > p {
    font-family: Arial, Helvetica, sans-serif;
}


.videobanner{
    background-color: #82ABC4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: fit-content;
    gap: 50px;
}
.videobanner > h1{
    position: absolute;
    top: 25%;
    right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}
video{
    width: 700px;
    height: max-content;
    object-fit: cover;
    border-radius: 30px;
}
.text-video{
    background-color: ;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: justify;
}
.text-video > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
.text-video > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
    max-width: 950px;
}

    /* CardHome */
.judul-card{
    background-color: #FFF2E2 ;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
}
.cardhome{
    background-color: #FFF2E2;
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.card1{
    background-color:#2552AF;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.card2{
    background-color:#F5A791;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.card3{
    background-color:#5A514A;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.image-card > img{
    max-width: 400px;
    max-height: 250px;
}
.img-bio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-bio > p{
    max-width: 250px;
    word-spacing: 10px;
    font-family: Arial;
}

.second-image{
    max-width: 100px;
    max-height: 100px;
}